image: python:2.7

before_script:
  - pip install virtualenv
  - virtualenv flaskenv
  - source ./flaskenv/bin/activate

stages:
  - test
  - deploy

cache:
  - ./flaskenv

unittest:
  stage: test
  script:
    - pip install -r requirements.txt
    - mkdir -p ./test_logs
    - mkdir -p ./log
    - export MITFAHRGELEGENHEIT_SETTINGS=./Mitfahrgelegenheit.debug.conf
    - python Interne_serverTest.py
  only:
    - master
    - develop

deployonserver:
  stage: deploy
  script:
    - uname -r
  only:
    - master
